//
//  site-prod.xcconfig
//  SampleProject
//
//  Created by Karthik Aiyer on 24/10/19.
//  Copyright © 2019 Karthik Aiyer. All rights reserved.
//

APP_NAME = SampleMVC Project
APP_VERSION = 0.1
APP_BUNDLE_ID = com.company.samples.SampleMVC
APP_ICON = AppIcon

API_URL = https:/$()/www.something.com/
API_KEY = uuid_prod
